<h1>Grupo de Questoes</h1>

<% @party.questions do |question| %>
     <%= question.number %><br />
<% end %>


<%= link_to 'Editar', edit_party_path(@party) %> ||
<%= link_to 'Voltar para gurpos de questoes', parties_path %>
