<div class="panel sidebar_section" id="active admin demo_sidebar_section">
  <h3>Passo para finalizar processo</h3>
  <div class="panel_contents">
    <div id="steps">
      <ul id="tabs">
        <li class="past" id="dashboard"><a href="index.html">Autenticação</a></li>
        <li class="current" id="customers"><a href="confirmacao-segmento.html">Confirmação segmento</a></li>
        <li class="next" id="orders"><a href="identificacao-pessoa.html">Identificação</a></li>
        <li class="next" id="products"><a href="instrucoes.html">Instruções básicas</a></li>
        <li class="next" id="products"><a href="resposta-indicador-y.html">Resposta dimensão x</a></li>
        <li class="next" id="products"><a href="/admin/products">Resposta dimensão y</a></li>
        <li class="next" id="products"><a href="/admin/products">Resposta dimensão z</a></li>
        <li class="next" id="products"><a href="/admin/products">Resposta dimensão a</a></li>
        <li class="next" id="products"><a href="/admin/products">Resposta dimensão b</a></li>
        <li class="next" id="products"><a href="/admin/products">Resposta dimensão c</a></li>
        <li class="next" id="products"><a href="/admin/products">Resposta dimensão f</a></li>
        <li class="next" id="products"><a href="/admin/products">Resposta dimensão g</a></li>
        <li class="next" id="products"><a href="/admin/products">Resposta dimensão h</a></li>
        <li class="next" id="products"><a href="/admin/products">Resposta dimensão j</a></li>
        <li class="next" id="products"><a href="/admin/products">Resposta dimensão k</a></li>
      </ul>
    </div>
  </div>
</div>
