#header {
    height: 120px;
    width: 100%;
    background-image: url('../images/marca.jpg');
    background-repeat:no-repeat;
    background-position: left top;
    text-align: center;
}

.right {
 position: relative;
 float: right;
}


input[type="submit"] {
  margin: 10px 0 !important;
}